

/* initial rules */
* {
  box-sizing: border-box;
  text-align: center;
  font-family: Calibri, Trebuchet MS sans-serif;
}


/* layout */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: auto;
  margin: auto;
}

/* heading */
#title {
  font-size: 3rem;
}
#description {
  font-size: 1.2rem;
  font-weight: normal;
}

/* choropleth */
main {
  width: 100%;
  height: auto;
}
#choropleth {
  border: 1px solid lightgray;
}

/* tooltip */
.county {
  transition: fill 0.5s;
}
.county:hover {
  fill: orange;
}
#tooltip {
  visibility: hidden;
  position: fixed;
  border-radius: 3px;
  background-color: floralwhite;
  opacity: 80%;
  padding: 0 8px;
  box-shadow: 2px 2px 4px gray, -1px -1px 4px gray;
}
#tooltip p {
  margin: 3px;
  padding: 0;
}
.area {
  font-size: 80%;
}
.percentage {
  font-size: 95%;
}

/* legend */
#legend {
  border: 1px solid lightgray;
}

/* footing */
footer p {
  font-size: 0.8rem;
}
